@model dojosurvey.Models.Survey

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Dojo Survey Index</title>
	<style>
		form {
			display: flex;
			flex-flow: column nowrap;
			width: 25%;
		}
	</style>
</head>
<body>
	
	<div class="container">
		<form asp-action="Result" asp-controller="Home" method="post">
			<span asp-validation-for="Name"></span>
			<label asp-for="Name"></label>
			<input asp-for="Name">

			<span asp-validation-for="Location"></span>
			<label asp-for="Location"></label>
			<select asp-for="Location" id="loc">
				<option value="San Jose">San Jose</option>
				<option value="Seattle">Seattle</option>
				<option value="Orange County">Orange County</option>
				<option value="Boise">Boise</option>
			</select>

			<span asp-validation-for="Language"></span>
			<label asp-for="Language"></label>
			<select asp-for="Language" id="lang">
				<option value="C#">C#</option>
				<option value="JavaScript">JavaScript</option>
				<option value="Python">Python</option>
			</select>

			<span asp-validation-for="Comment"></span>
			<label asp-for="Comment"></label>
			<input asp-for="Comment">

			<button type="submit">Submit</button>
		</form>
	</div>

</body>
</html>