<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Brett's Portfolio</title>
</head>
<body>
	
	<div class="container">

		<div class="navlinks">
			<p class="current">Home</p>
			<a href="/projects" class="route">Projects</a>
			<a href="/contact" class="route">Contact</a>
		</div>

		<div class="main">
			<h1>About Me</h1>
			<div class="content">
				<img src="~/img/kaguya" alt="kaguya">
				<p>Kaguya Shinomiya</p>
				<p>I like fireworks</p>
			</div>
			<div class="content">
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum, minus numquam corporis, eveniet distinctio accusantium sunt explicabo vitae provident a aliquid laudantium voluptates cumque? Tenetur, odio. Sed a dolorem vitae.</p>
			</div>
		</div>

	</div>

</body>
</html>