<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Brett's Projects</title>
	<link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
	<div class="container">

		<div class="header">
			<div class="navlinks">
				<a href="/home" class="route">Home</a>
				<p class="current">Projects</p>
				<a href="/contact" class="route">Contact</a>
			</div>

			<h1>Here are some projects!</h1>
		</div>

	<div class="main">
		<div class="project-list" style="overflow:auto">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nobis magni velit animi nisi, ratione, ipsa ut facere iste itaque consequatur unde delectus consectetur molestias veniam debitis minus asperiores laudantium!</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nobis magni velit animi nisi, ratione, ipsa ut facere iste itaque consequatur unde delectus consectetur molestias veniam debitis minus asperiores laudantium!</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nobis magni velit animi nisi, ratione, ipsa ut facere iste itaque consequatur unde delectus consectetur molestias veniam debitis minus asperiores laudantium!</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nobis magni velit animi nisi, ratione, ipsa ut facere iste itaque consequatur unde delectus consectetur molestias veniam debitis minus asperiores laudantium!</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nobis magni velit animi nisi, ratione, ipsa ut facere iste itaque consequatur unde delectus consectetur molestias veniam debitis minus asperiores laudantium!</p>
		</div>
	</div>

	</div>
</body>
</html>